
/* @font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    
  }
  @font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    
  }
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
    
  } */